<p id="notice"><%= notice %></p>

<h1>Plots</h1>
<p> <%= Plot.first.plants.first.name %> </p>

<table>
  <thead>
    <tr>
      <th>Sector</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Crop</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @plots.each do |plot| %>
      <tr>
        <td><%= plot.sector %></td>
        <td><%= plot.lat %></td>
        <td><%= plot.long %></td>
        <td><%= plot.plants.first %></td>
        <td><%= link_to 'Show', plot %></td>
        <td><%= link_to 'Edit', edit_plot_path(plot) %></td>
        <td><%= link_to 'Destroy', plot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plot', new_plot_path %>
